<div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-text-input
      formControlName="email"
      label="E-mail address"
      type="email"
      placeholder="Enter your e-mail"
      [control]="loginForm.get('email')"
    />

    <app-text-input
      formControlName="password"
      label="Password"
      type="password"
      placeholder="Enter your password"
      [control]="loginForm.get('password')"
    />

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>

  @if (loginFailed()) {
    <div class="error">Invalid username or password.</div>
  }
</div>
